{% extends "homePage.html" %}

  {% block pagetitle %}
  Home page
  {% endblock %}

  {% block pagecontent %}

  <p>Student number: 230525</p>
  <p>Student Name: Billy Davies</p>
  <h1> Why I picked video games </h1>
  <p>I chose video games for this assignment as i've been playing them since I was born.</p>
  <p>I dont have as much time any more to play them as much as I used to. </p>
  <p>But the ones i've chosen are the few that ive been able to make time for recently.</p>

  {% endblock %}
